<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap">
    <link rel="stylesheet" href="/css">
    <script src="/js/bootstrap"></script>
    <script src="/js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center"> Hot Restaurant</h1>
        <%if (typeof name !== 'undefined') { %>
        <div class="alert alert-success" role="alert">
            Your reservation has been placed, <% name %>.
        </div>
        <% } %>
        <p class="text-center">Current Reservations and Waitlist
        </p>
        <a href="/reserve" class="btn btn-danger">Make Reservation</a>
        <a href="/"><span class="glyphicon glyphicon-home"></span></a>

        <div id="reservations">

        </div>

        <div id="waitlist">

        </div>

    </div>
    <script>
        $.ajax('/api/waitlist').done(function(result){
            $.each(result, function(key, value){
                $('#reservations').append(
                    `${JSON.stringify(value)} <br>`
                );
            });
        });
    </script>
</div>

</body>

</html>